<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../lib/element/css/element.css">
    <link rel="stylesheet" href="../lib/element/css/base.css">
    <link rel="stylesheet" href="../css/layout.css">
    <script src="../js/vue.js"></script>
    <script src="../js/pubsub.js"></script>
    <script src="../lib/element/element.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/content-iframe-window.js"></script>
    <script src="../js/md-bread-crumb.js"></script>
</head>
<body>
<div :class="'project-container'+(isCollapse ? ' pro-menu-collapse': ' pro-menu-expand')" id="layoutPageId">
    <div class="project-header">
        项目头部
    </div>
    <div class="project-body">
        <div class="project-sider">
            <el-menu
                    class="project-sider-menu"
                    @open="handleOpen"
                    @close="handleClose"
                    :collapse="isCollapse"
                    :default-active="menuOpenDefault.index"
            >
                <md-menu
                        :menudata="menuData"
                        :iscollapse="isCollapse"
                ></md-menu>
            </el-menu>
        </div>
        <div class="project-main">
            <div class="project-content">
                <template v-for="(windowObj, windowIndex) in windowList" v-if="windowObj.url != '#'">
                    <iframe
                            :title="menuOpenDefault.index +windowObj.index"
                            v-show="menuOpenDefault.index == windowObj.index"
                            :id="('iframeId_') + windowObj.index"
                            :src="windowObj.url"
                            frameborder="0"></iframe>
                </template>
            </div>
        </div>
    </div>
</div>
<script src="../js/md-menu.js"></script>
<script src="index.js"></script>

</body>
</html>
